{
  "dog_facts": [],
  "cat_facts": [],
  "panda_facts": [],
  "fox_facts": [],
  "bird_facts": [],
  "koala_facts": [],
  "kangaroo_facts": [],
  "racoon_facts": [],
  "elephant_facts": [],
  "giraffe_facts": [],
  "whale_facts": []
}